.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  margin: 0;
}

.step-box {
  border: solid black 2px;
  margin: 4px;
  background-color: beige;
  padding: 1rem;
}

.buttonBox {
  border: solid black 2px;
  padding: 1rem;
  background-color: bisque;
}

.listStyle {
    border: solid black 2px;
    background-color: bisque;
    border-radius: 10px;
    margin: 5px;
    padding: 5px
}

.checkListBtnBox {
  padding: 1rem;
  margin: 1rem;
  background-color: grey;
  border: solid black 2px;
}

.checkListBtnBox button {
  margin: 1rem;
  border: dotted black 2px;
}
.image{
  max-width: 40%;
}